@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --resortify-primary: #0b6bff;
  --resortify-muted: #6b7280;
}

html,
body,
#root {
  height: 100%;
}
body {
  @apply bg-white text-slate-900 antialiased;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
